@font-face {
    font-family: 'Helvetica';
    src: url('../Fonts/helvetica-255/helvetica-light-587ebe5a59211.ttf') format('tff');
    font-weight: 400;
    font-style: normal;
}

;

@font-face {
    font-family: 'Inter-light';
    src: url('../Fonts/Inter/static/Inter_18pt-Light.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

;

@font-face {
    font-family: 'Inter-bold';
    src: url('../Fonts/Inter/static/Inter_18pt-Bold') format('woff2');
    font-weight: 700;
    font-style: normal;
}

;



/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Header */
body {
    font-family: 'Helvetica', sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

/* <!-- Navigation Bar start --> */

header {
    width: 100%;
    height: 92px;
    border-bottom: 1px solid #F0F0F0;
    display: flex;

}

.logo {
    width: 91px;
    height: 32px;
    left: 30px;
    top: 24px;
}

.logo>img {
    width: 100%;
    height: 100%;
}

.navbar {
    position: relative;
    padding: 0px 30px;
    height: 90px;
    display: flex;
    width: 100%;
    display: flex
;
    align-items: center;
    justify-content: space-between;
}

.navbar>ul {
    list-style: none;
    display: flex;
    margin-top: 20px;
    margin-left: 38px;
    font-family: 'Helvetica', sans-serif;
}

.nav-links>li {
    position: relative;
    height: fit-content;
}

.nav-links a {
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    color: #050038;
    margin-right: 16px;

}

.nav-links>li>a>i {
    margin-left: 4px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #050038;
    min-width: 160px;
    z-index: 1;
    padding: 20px 20px 0px 20px;
    border-radius: 10px;

}

.dropdown-content li {
    margin-bottom: 20px;
}

.dropdown-content a {
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.header_btns {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.change-language {
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #050038;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.change-language>i {
    width: 24px;
    height: 24px;
}

.contact-sale>a {
    font-family: Inter-light, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-decoration: none;
    margin-left: 16px;
    color: #050038;
}

.login-btn>a {
    font-family: Inter-light, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-decoration: none;
    color: #050038;
    margin-left: 24px;
}

.signUp-btn {
    padding: 12px 22px;
    border-radius: 24px;
    opacity: 0px;
    background: #4262FF;
    border: 1px solid #4262FF;
    margin-left: 19px;
    cursor: pointer;
    
}

.signUp-btn>a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;

}
.signUp-btn:hover{
    background: #304bd4;
}

/* Style for the hamburger menu */
.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.hamburger span {
    background-color: #333;
    height: 3px;
    width: 100%;
    border-radius: 3px;
}


/* Hamburger icon */
.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    z-index: 1; /* Ensure it's above the menu */
}

.hamburger span {
    background-color: #333;
    height: 3px;
    width: 100%;
    border-radius: 3px;
}


.side-nav {
    position: fixed;
    top: 0;
    right: -400px;
    height: 100%;
    width: 320px;
    background-color: #fff;
    transition: right 0.3s ease;
    z-index: 7; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.side-nav.show {
    right: 0;
    display: none; 
}

.close-btn {
    font-size: 36px;
    color: #333;
    right: 40px;
    position: absolute;
    top: 20px;
    cursor: pointer;
}






/* <!-- Navigation Bar start --> */


/* <!-- Banner Section start --> */

#banner_sec {
    width: 100%;
}

.banner_main {
    width: 80%;
    margin: 60px auto 0px auto;
    display: flex;
    justify-content: space-between;
}

.banner_text_area {
    width: 38%;
}

.banner_img_main {
    display: flex;
    justify-content: center;
}

.banner_img_main img {
    width: 100%;
}

.banner_img {
    width: 50%;
}

.banner_text_area h1 {
    font-family: Inter-bold, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -1px;
    text-align: left;
    color: #050038;
    margin: 0px;
}

.banner_text_area p {
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #050038B8;

}

.banner_text_area form {
    margin-top: 32px;
    width: 100%;
}

.banner_input {
    width: 100%;
    height: 35px;
    border: 1px solid #9B99AF;
    border-radius: 32px;
    margin-bottom: 10px;
    font-family: Inter-light, sans-serif;
    font-size: 14px;
    padding: 0px 30px;
    box-sizing: border-box; 
}

.banner_input::placeholder {
    color: #5F5C80;
    font-family: Inter-light, sans-serif;
    font-size: 14px;
    padding: 11px 41px 11px 0px;
}

.banner_input {
    outline: none;
}

.banner_signUp_btn {
    border-radius: 32px;
    width:100%;
    box-sizing: border-box; 
    height: 41px;
    border: 1px solid #4262FF;
    background: #4262FF;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;

}
.banner_signUp_btn:hover{
    background-color: #304bd4;
}

.banner_text_area form p {
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    color: #05003866;
}

.reviews {
    background-color: #F5F5F7;
    margin-top: 30px;
    width: 100%;
    box-sizing: border-box;
    height: 60px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.user_reviews {
    display: flex;
    flex-direction: column;
}

.user_reviews p {
    font-family: Helvetica;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    color: #050038;
    margin: 0px;
}

.user_rating {
    display: flex;
}

.user_rating .star {
    width: 15px;
    height: 14px;
    background-color: #FF9D48;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.app_Info {
    display: flex;
    justify-content: space-between;
    width: 50%;
}




/* <!-- Banner Section end --> */



/* <!-- Brand Section Start --> */


#brand_sec {
    width: 100%;
    padding-top: 40px;
}

.brand_sec_main {
    width: 100%;
    margin: 60px 0px;
}

.brand_sec_main .title {
    display: flex;
    justify-content: center;
}

.brand_sec_main .title p {
    font-family: Inter-light, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #05003899;
    margin: 0px 0px 48px 0px;
}
@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
    

}

.logo_carousel {
    width: 80%;
    overflow: hidden;
    position: relative;
    margin: 0px auto;
    white-space: nowrap;
}

.brand_logos {
    width: 100%;
    display: inline-flex;
    animation: 8s slide infinite linear;
    justify-content: space-evenly;
}

.brand_logos_main {
    padding: 10px;
}

.brand_logos_main img {
    width: 100%;
}
.logo_carousel:hover .brand_logos{
    animation-play-state: paused;
}



  


/* <!-- Brand Section end --> */



/* <!-- Services Section start --> */

#services_sec {
    width: 100%;
    padding-top: 40px;
}

.services_main {
    text-align: center;
}

.services_main .title {
    width: 40%;
    margin: 0px auto;
}

.services_main .title p {
    color: #090909;
    background: #FFD02F;
    width: fit-content;
    font-size: 10px;
    font-family: Inter-bold, sans-serif;
    font-weight: 700;
    padding: 5px 7px;
    border-radius: 12px;
    transform: rotate(10deg);
    margin: 0px 0px -36px auto;
}

.services_main .title h1 {
    font-family: Inter-bold, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1px;
    text-align: center;
    color: #050038;
}

.services_details_main {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
}

.services_details {
    width: 28%;
    margin-bottom: 5px;
}

.services_details h1 {
    font-family: Inter-bold, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -0.5px;
    text-align: left;
    color: #050038;
    margin-bottom: 5px;
}

.services_details p {
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #05003899;
    margin-top: 0px;
}

.services_details p a {
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #4262FF;
    text-decoration: none;
}

.services_btn {
    background-color: #4262FF;
    width: fit-content;
    border-radius: 24px;
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    border: 1px solid #4262FF;
    padding: 12px 18px;
    cursor: pointer;
    margin-top: 30px;
}
.services_btn:hover{
    background-color: #304bd4;
}

/* <!-- Services Section end --> */


/* ------ Carousel Sec Start ----------- */

#carousel_sec {
    width: 100%;
    padding: 60px 0px;
}

.carousel_sec_main {
    width: 80%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel_sec_carousel {
    width: 40%;
}



.carousel_sec_detail {
    width: 40%;
}

.carousel_sec_detail h1 {
    font-family: Inter-bold, sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1px;
    text-align: left;
    color: #050038;
    margin-bottom: 0px;
}

.carousel_sec_detail p {
    font-family: Inter-light, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #05003899;
    margin-top: 0px;
}

.carousel_sec_detail a {
    font-family: Inter_light, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #4262FF;
    text-decoration: none;
}
.carousel_sec_detail a:hover{
    color: #304bd4;
    text-decoration: underline;
}
.slider-container{
    width: 100%;
}
.slider-container .slider{
    display: flex; 
    width: 100%; 
    justify-content: space-between;
}
.slider-container .slider .card {
    width: 100%; /* Adjust the width to show 3 cards */
    white-space: pre;
    transition: transform 0.3s ease;
}
.slider-container .slider .card img{
    border-radius: 15px;
    transition: transform 0.3s ease;
}
.slider-container .slider {
    flex-direction: column;
    justify-content: center;
}
.owl-dots {
    display: flex !important;
    justify-content: center;
    position: relative;
    margin-top: 10px;
    padding: 0;
}

.owl-dots .owl-dot {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    background-color: #ccc;  
    border-radius: 50%;
    display: block;
    transition: all 0.3s ease;
}

.owl-dots .owl-dot.active span {
    background-color: #333;  
}






/* ------ Carousel Sec end ----------- */



/* <!-- Team Section Start --> */


#team_sec {
    width: 100%;
    padding: 0px 0px;
}

.team_sec_main {
    width: 80%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team_sec_img {
    width: 40%;
}

.team_sec_img img {
    width: 100%;
}

.team_sec_detail {
    width: 40%;
}

.team_sec_detail h1 {
    font-family: Inter-bold, sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1px;
    text-align: left;
    color: #050038;
    margin-bottom: 5px;
}

.team_sec_detail p {
    font-family: Inter-light, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #05003899;
    margin: 0px 0px 10px 0px;
}

.team_sec_detail a {
    font-family: Inter_light, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #4262FF;
    cursor: pointer;
    text-decoration: none;
}
.team_sec_detail a:hover{
    color: #304bd4;
    text-decoration: underline;
}

/* <!-- Team Section end --> */




/* <!-- banner 2 Section start --> */

#work_banner_sec {
    width: 100%;
    padding: 60px 0px;
    height: 500px;
}

.work_banner_sec_main {
    width: 80%;
    margin: 0px auto;
    background-image: url(../../Assets/Images/section.png);
    height: 100%;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: left;
}

.work_banner_deatails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
}

.work_banner_deatails h1 {
    font-family: Inter-bold, sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: -0.5px;
    text-align: center;
    color: #050038;
    margin: 0px 0px 10px 0px;
    width: 44%;
}

.work_banner_deatails p {
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #050038;
    margin: 0px 0px 0px 0px;
}

/* <!-- banner 2 Section end --> */



/* <!-- Work Section start --> */

#work_sec {
    width: 100%;
    padding: 10px 0px;
}

.work_sec_main {
    width: 80%;
    margin: 0px auto;
}

.work_sec_main .title h1 {
    font-family: Inter-bold, sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1px;
    text-align: left;
    color: #050038;
}

.tabs {
    display: flex;
    margin-bottom: 24px;
    cursor: pointer;
}

.tab {
    padding: 10px 20px;
    margin-right: 5px;
    background-color: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    text-align: center;
    border-radius: 24px;
    transition: background-color 0.3s;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.tab.active {
    background: #F1F3FD;
}

.tab:hover {
    background-color: #F1F3FD;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.tablinks {
    padding: 10px 20px;
    margin-right: 5px;
    background-color: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    text-align: center;
    border-radius: 24px;
    transition: background-color 0.3s;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.tablinks.active {
    background: #F1F3FD;
}

.tablinks:hover {
    background-color: #F1F3FD;
}

.tabcontent {
    display: none;
}

.tabcontent .active {
    display: block;
}

.tab_content_main {
    display: flex;
    justify-content: space-between;
}

.tab_content_main a {
    font-family: Inter_light, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #4262FF;
    text-decoration: none;
}
.tab_content_main a:hover{
    color: #304bd4;
    text-decoration: underline;
}

.tab_content_main .details {
    width: 30%;
    margin-top: 31px;
}

.tab_content_main .details h3 {
    margin: 0px 0px 0px 0px;
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: #050038;
    margin-top: 5px;
}

.tab_content_main .details p {
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #050038B2;
    margin-top: 0px;
}

.tab_content_main .tab_img {
    width: 60%;
}

.tab_content_main .tab_img img {
    width: 100%;
}


/* <!-- Work Section end --> */


/* <!-- TEam Work Section start --> */

#team_work_sec {
    width: 100%;
}

.tab_content_main .details2 {
    width: 30%;
    margin-top: 31px;
}

.tab_content_main .details2 .checkUI {
    display: flex;
    align-items: flex-start;
    width: 80%;
}

.tab_content_main .details2 .checkUI span {
    color: #050038;
    font-weight: 700;
}

.tab_content_main .details2 .checkUI p {
    font-family: Helvetica;
    font-size: 15px;
    margin: 0px 0px 20px 0px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #05003899;
    margin-left: 40px;
}

.tab_content_main .details2 a {
    margin-top: 20px;
}

.tab_content_main .details2 .fvrt_tools p {
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.25px;
    text-align: left;
    color: #05003899;

}

.fvrt_tools {
    margin-top: 60px;
}

.fvrt_tools .icons {
    display: flex;
    width: 60%;
    justify-content: space-between;
}



/* <!-- TEam Work Section end --> */





/* <!-- Achivement Section start --> */

#achivement_sec {
    margin-top: 100px;
    width: 100%;
    padding: 120px 0px;
    background: #FFD02F;
}

.achivement_sec_main {
    width: 80%;
    margin: 0px auto;
}

.achivement_sec_main .details h1 {
    font-family: Inter-bold, sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1px;
    text-align: center;
    color: #050038;
    margin: 0px 0px 15px 0px;

}

.achivement_sec_main .details {
    width: 40%;
    margin: 0px auto;
}

.achivement_sec_main .details p {
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    border-bottom: 1px solid #050038;
    width: fit-content;
    margin: 0px auto;
}

.achivement_number {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 50px;
}

.achivement_number .box {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 8px;
}
.achivement_number .box h1{
    color: #050038;
    font-size: 92px;
    font-family: Inter-bold, sans-serif;
    margin-bottom: 0px;
    font-weight: 700;
    margin-top: 0px;
}

.achivement_number .box h1 span{
    margin-top: 0px;
    color: #050038;
    font-size: 92px;
    font-family: Inter-bold, sans-serif;
    margin-bottom: 0px;
    font-weight: 700;
    transition: all 1s ease-out;
}

.achivement_number .box p {
    font-family: Inter-light, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #050038;
}


/* <!-- Achivement Section end --> */




/* <!-- Portfolio Section start --> */


#porfolio_sec {
    width: 100%;
    padding: 60px 0px;
}

.porfolio_sec_main {
    width: 80%;
    margin: 0px auto;
}

.porfolio_sec_main .title {
    width: 70%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.porfolio_sec_main .title h1 {
    font-family: Inter-bold, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1px;
    text-align: center;
    color: #050038;
}

.porfolio_sec_main .title button {
    border: 1px solid #4262FF;
    background: #FFFFFF;
    border-radius: 24px;
    padding: 14px 33px;
    color: #4262FF;
    cursor: pointer;
}

.porfolio_sec_main .title button:hover {
    color: #FFFFFF;
    background: #4262FF;
}

.portfolio_card {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    margin: 40px 0px 51px 0px;
}

.portfolio_card .card {
    width: 25%;
}

.portfolio_card .card h1 {
    color: #050038;
    margin-bottom: 0px;
}

.portfolio_card .card p {
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #05003899;
    height: 50%;
    margin-top: 0px;
}

.portfolio_card .card .id {
    display: flex;
    align-items: center;

}

.portfolio_card .card .id .name {
    margin-left: 10px;
}

.portfolio_card .card .id .name h6 {
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: #05003899;
    margin: 0px;
}

.portfolio_card .card .id .name p {
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #05003899;
    margin: 0px;
}


/* <!-- Portfolio Section end --> */



/* <!-- Banner3 Section start --> */

#banner3_sec{
    width: 100%;
    padding: 0px 0px 60px 0px;
}
.banner3_sec_main{
    width: 80%;
    box-sizing: border-box;
    background: #050038;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    padding: 90px 20px 90px 20px;
    text-align: center;
}
.banner3_sec_main .details h1{
    font-family: Inter-bold, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1px;
    text-align: center;
    color: #FFFFFF;
    margin: 0px;
}
.banner3_sec_main .details span{
    font-family: Inter-light,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 0px;
    color: #FFFFFF99;
}
.banner3_sec_main .details p{
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF99;
    text-decoration: underline;
    padding: 0px 5px;
    margin:  0px 0px 30px 0px;
}
.banner3_sec_main .details button{
    background: #4262FF;
    border-radius: 32px;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding: 12px 18px 14px 30px;
    border: 1px solid #4262FF;
    cursor: pointer;
}
.banner3_sec_main .details button:hover{
    background: #304bd4;
    border: 1px solid #304bd4;
}

/* <!-- Banner3 Section end --> */




/* <!-- Footer Section start --> */


#footer{
    background: #050038;
    width: 100%;
    padding: 40px 0px;
}
.footer_menu{
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.menu_columns{
    width: 17%;
}
.menu_columns h1{
    font-family: Inter-bold, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    margin: 0px 0px 24px 0px;
    color: #FFFFFF;
}
.menu_columns ul{
    list-style: none;
    padding: 0px;
}
.menu_columns ul li a{
    text-decoration: none;
    font-family: Inter-light, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;

}
.bottom_footer{
    width: 80%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.bottom_footer_mian::before{
    content: '';
    display: block;
    width: 98%;
    height: 1px ;
    background: #F5F5F7;
    margin: 0px auto 30px auto;
}
.socailIcons{
    
    display: flex;
    align-items: center;
}
.socailIcons a{
    margin-right: 24px;
    text-decoration: none;
    color: #FFFFFF;
}
.privacyPolicy{
    display: flex;
    align-items: center;
    margin-left: 24px;
    justify-content: space-between;
    width: 45%;
    color: #FFFFFF;
    font-family: Inter-light, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}
.privacyPolicy a{
    color: #FFFFFF;
    text-decoration: none;
    font-family: Inter-light, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}
.contactUs{
    margin-left: auto;
}

/* <!-- Footer Section end --> */


/* =============== media queries start =========  */

@media (min-width: 1920px) {
    #carousel_sec {
        width: 100%;
        padding: 20px 0px;
    }
    .nav-links a {
        font-size: 18px;
    }
    .change-language {
        font-size: 18px;
    }    
    .contact-sale>a {
        font-size: 18px;
    }
    .login-btn>a {
        font-size: 18px;
    }
    .signUp-btn>a {        
        font-size: 18px;
    }

    .banner_text_area h1 {
        font-size: 48px;
        line-height: 65px;
    }
    .banner_text_area p {
        font-size: 17px;
    }
    .banner_input {
        height: 50px;
        font-size: 18px;
        width: 100%;
        box-sizing: border-box; 
    }
    .banner_input::placeholder {
        color: #5F5C80;
        font-family: Inter-light, sans-serif;
        font-size: 14px;
        padding: 11px 41px 11px 0px;
    }
    .banner_signUp_btn {
        width: 100%;
        height: 50px;
        font-size: 18px;
    }
    .banner_text_area form p {
        font-size: 18px;
    }
    .reviews {
        margin-top: 50px;
        width: 100%;
        height: 76px;
        box-sizing: border-box; 
    }
    .user_rating .star {
        width: 25px;
        height: 24px;
        margin-bottom: 10px;
    }
    .app_Info {
        width: 47%;
    }
    .app_Info img{
        height: 25px;
    }
    .brand_sec_main .title p {
        font-size: 22px;
        line-height: 28px;
        margin: 30px 0px 48px 0px;
    }
    .logo_carousel {
        margin: 30px auto 0px auto;
    }
    .brand_logos_main img {
        width: 118%;
    }
    #services_sec {
        padding-top: 70px;
    }
    .services_details_main {
        margin: 70px auto 0px auto;
    }
    .services_btn {
        margin: 40px 0px 0px 0px;
    }
    .services_details h1 {
        font-size: 22px;
        line-height: 30px;
    }
    .services_details p {
        font-size: 18px;
        line-height: 28px;
    }
    .services_details p a {
        font-size: 18px;
        line-height: 28px;
    }
    .services_btn {
        margin: 40px 0px 100px 0px;
        border-radius: 30px;
        font-size: 19px;
        line-height: 28px;
        padding: 14px 31px;
    }
    .services_main .title h1 {
        font-size: 48px;
    }
    .carousel_sec_detail h1 {
        font-size: 48px;
    }
    .carousel_sec_detail p {
        font-size: 18px;
        line-height: 28px;
    }
    .carousel_sec_detail a {
        font-size: 18px;
        line-height: 28px;
    }
    .team_sec_detail h1 {
        font-size: 48px;
    }
    .team_sec_detail p {
        font-size: 18px;
        line-height: 28px;
    }
    .team_sec_detail a {
        font-size: 18px;
        line-height: 40px;
    }
    .services_btn2{
        margin: 0px;
    }
    .work_banner_deatails h1 {
        font-size: 28px;
    }
    .work_banner_deatails p {
        font-size: 18px;
        line-height: 28px;
    }
    .work_sec_main .title h1 {
        font-size: 48px;
    }
    .tab,
    .tablinks {
        padding: 10px 25px;
        font-size: 18px;
        line-height: 28px;  
    }
    .tab_content_main .details h3 {
        margin: 0px 0px 0px 0px;
        font-size: 22px;
        line-height: 30px;
    }
    
    .tab_content_main .details p,
    .tab_content_main .details2 .checkUI p {
        font-size: 18px;
        line-height: 28px;
    }
    .tab_content_main a {
        font-size: 18px;
        line-height: 28px;
    }
    .tab_content_main .details,
    .tab_content_main .details2  {
        margin-top: 110px;
    }
    .tab_content_main .details2 .checkUI span {
        margin-bottom: 20px;
    }
    .achivement_sec_main .details h1 {
        font-size: 48px;
    }
    .achivement_sec_main .details p {
        font-size: 18px;
        line-height: 28px;
    }
    .achivement_number .box h1 {
        font-size: 62px;
    }
    .achivement_number .box h1 span {
        font-size: 62px;
    }
    .achivement_number .box p {
        font-size: 29px;
        line-height: 40px;
    }
    .porfolio_sec_main .title h1 {
        font-size: 48px;
    }
    .porfolio_sec_main .title button {
        font-size: 18px;
        line-height: 28px;
        border-radius: 32px;
        padding: 15px 41px;
    }
    .portfolio_card .card p {
        font-size: 18px;
        line-height: 28px;
        height: 65%;
    }
    .portfolio_card .card .id .name h6 {
        font-size: 18px;
        line-height: 28px;
    }
    .portfolio_card .card .id .name p {
        font-size: 18px;
        line-height: 28px;
    }
    .banner3_sec_main .details h1 {
        font-size: 48px;
        line-height: 56px;
    }
    .banner3_sec_main .details span {
        font-size: 18px;
        line-height: 28px;
    }
    .banner3_sec_main .details p {
        font-size: 18px;
        line-height: 28px;
    }
    .banner3_sec_main .details button {
        border-radius: 32px;
        font-size: 18px;
        line-height: 28px;
        padding: 12px 30px 14px 41px;
    }
    .menu_columns h1 {
        font-size: 22px;
        line-height: 30px;
    }
    .menu_columns ul li a {
        font-size: 18px;
        line-height: 28px;
    }
    .socailIcons a {
        font-size: 24px;
    }
    .privacyPolicy { 
        font-size: 18px;
        line-height: 28px;
    }
    .privacyPolicy a {
        font-size: 18px;
        line-height: 28px;
    }
        
}
@media (min-width: 1024px) and (max-width: 1300px) {
    .privacyPolicy {
        margin-left: 0px;
        width: 70%;
    }
    
    .navbar{
        align-items: center;
    }
    .logo{
        position: initial;
        margin-bottom: 13px;
    }
    .navbar>ul {
        margin: 12px 0px 16px 0px;
    }
    .nav-links a {
        font-family: Helvetica;
        font-size: 14px;
    }
    .change-language {
        font-size: 14px;
        line-height: 16px;
    }
    .contact-sale>a {
        font-family: Inter-light, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
    }
    .login-btn>a {
        font-size: 14px;
        line-height: 18px;
    }
    .signUp-btn {
        padding: 10px 20px;
    }
    .signUp-btn>a {
        font-size: 14px;
    }
    .change-language>i {
        width: 20px;
        height: fit-content;
    }
    header {
        height: 75px;
    }
    .banner_text_area h1 {
        font-size: 25px;
        line-height: 30px;
    }
    .banner_text_area p {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 0px;
    }
    .banner_text_area form {
        margin-top: 22px;
        width: 100%;
    }
    .banner_signUp_btn {
        width: 100%;
        height: 35px;
        font-size: 14px;
        line-height: 18px;
    }
    .banner_input {
        width: 100%;
        height: 33px;
        font-size: 14px;
        padding: 0px 0px 0px 30px;
    }
    .banner_text_area form p {
        font-size: 14px;
        line-height: 14px;
    }
    .reviews {
        margin-top: 18px;
        width: 100%;
        height: 74px;
        padding: 13px;
    }
    .app_Info {
        width: 73%;
    }
    .user_rating .star {
        width: 13px;
        height: 11px;
    }
    .services_main .title h1 {
        font-size: 32px;
        line-height: 42px;
    }
    .services_main .title p {
        font-size: 10px;
        margin: 0px 0px -18px auto;
    }
    .services_details h1 {
        font-size: 15px;
        line-height: 22px;
    }
    .services_details p {
        font-size: 14px;
        line-height: 18px;
    }
    .services_details p a {
        font-size: 14px;
        line-height: 18px;
    }
    .services_btn {
        font-size: 14px;
        line-height: 18px;
        padding: 8px 21px;
    }
    .carousel_sec_detail h1,
    .team_sec_detail h1 {
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 10px;
    }
    .carousel_sec_detail p,
    .team_sec_detail p {
        font-size: 14px;
        line-height: 18px;
    }
    .carousel_sec_detail a,
    .team_sec_detail a {
        font-size: 14px;
        line-height: 18px;
    }
    .work_banner_deatails h1 {
        font-size: 18px;
        line-height: 28px;
    }
    .work_banner_deatails p {
        font-size: 14px;
        line-height: 17px;
        margin: 0px 0px 15px 0px;
    }
    .work_sec_main .title h1 {
        font-size: 32px;
        line-height: 42px;
    }
    .tabs {
        display: grid;
        row-gap: 15px;
        grid-template-columns: repeat(5, 1fr);
        width: fit-content;
    }
    .tab,
    .tablinks {
        padding: 0px 17px 0px 17px;
        font-size: 14px;
        line-height: 41px;
        white-space: nowrap;
    }
    .tab_content_main .details h3 {
        margin: 0px 0px 18px 0px;
        font-size: 14px;
        line-height: 18px;
    }
    .tab_content_main .details p {
        font-size: 14px;
        line-height: 18px;
    }
    .tab_content_main a {
        font-size: 14px;
        line-height: 18px;
    }
    .tab_content_main .details2 .checkUI p {
        font-size: 14px;
        margin: 0px 0px 15px 0px;
        line-height: 18px;
        margin-left: 30px;
    }
    .tab_content_main .details2 .checkUI span {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .fvrt_tools {
        margin-top: 30px;
    }
    .tab_content_main .details2 .fvrt_tools p {
        font-size: 14px;
        line-height: 18px;
    }
    .achivement_sec_main .details h1 {
        font-size: 32px;
        line-height: 42px;
        margin: 0px 0px 15px 0px;
    }
    .achivement_sec_main .details p {
        font-size: 13px;
        line-height: 18px;
    }
    .achivement_number {
        padding: 20px;
        margin-top: 10px;
    }
    #achivement_sec {
        padding: 100px 0px;
    }
    .achivement_number .box p {
        font-size: 14px;
        line-height: 18px;
    }
    .porfolio_sec_main .title h1 {
        font-size: 32px;
        line-height: 42px;
    }
    .porfolio_sec_main .title button {
        padding: 12px 30px;
    }
    .portfolio_card .card p {
        font-size: 14px;
        line-height: 18px;
    }
    .portfolio_card .card .id .name h6{
        font-size: 14px;
        line-height: 18px;
    }
    .portfolio_card .card .id .name p {
        font-size: 14px;
        line-height: 18px;
        margin: 0px;
    }
    #banner3_sec {
        width: 100%;
        padding: 30px 0px;
    }
    .banner3_sec_main .details h1 {
        font-size: 32px;
        line-height: 42px;
    }
    .banner3_sec_main .details span,
    .banner3_sec_main .details p {
        font-size: 14px;
        line-height: 18px;
    }
    .banner3_sec_main .details button {
        font-size: 14px;
        line-height: 18px;
        padding: 6px 18px 8px 30px;
    }
    .menu_columns h1 {
        font-size: 14px;
        line-height: 20px;
    }
    .menu_columns ul li a {
        font-size: 14px;
        line-height: 18px;
    }
    .bottom_footer{
        flex-direction: column;
    }
    .contactUs {
        margin-left: 0px;
    }
    .work_banner_sec_main {
        height: 100%;
        border-radius: 12px;
    }
    #work_banner_sec {
        height: 300px;
    }
    
}
@media (max-width: 1150px) {
    .achivement_number .box h1 {
        font-size: 68px;
    }
    .achivement_number .box h1 span{
        font-size: 68px;
    }
}
@media (max-width: 1023px) {
    .tab_content_main .details2 .checkUI {
 
        align-items: flex-start;
        width: 100%;
    }
    .logo{
        position: unset;
    }
    .hamburger {
        display: flex;
        margin-left: 4%;
    }
    .side-nav.show{
        display: flex;
    }

    .nav_forDesktop{
        display: none;
    }
    .nav_forMob{
        display: flex;
        flex-direction: column;
        list-style: none;
    }
    .navbar>ul{
        display: none;
    }
    .header_btns {
        margin-left: auto;
        align-items: center;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        height: 29%;
    }

    .nav-links li {
        margin: 15px 0;
        text-align: center;
    }
    .dropdown-content {
        position: relative;
        width: 100%;
        box-shadow: none;
        background-color: #050038;
        width: fit-content;
        padding: 20px 20px 20px 20px;
        margin: 0px auto;
    }

    .banner_text_area {
        width: 45%;
    }
    .banner_text_area h1,
    .services_main .title h1,
    .carousel_sec_detail h1,
    .team_sec_detail h1,
    .work_sec_main .title h1,
    .achivement_sec_main .details h1,
    .porfolio_sec_main .title h1,
    .banner3_sec_main .details h1 {
        font-size: 30px;
        line-height: 35px;
    }
    .banner_text_area p {
        margin: 10px 0px;
    }
    .banner_text_area form {
        margin-top: 20px;
    }
    .banner_signUp_btn {
        width: 100%;
    }
    .reviews {
        background-color: #F5F5F7;
        margin-top: 20px;
        height: 70px;
    }
    .services_main .title p {
        margin: 0px 0px -20px auto;
    }
    .work_banner_sec_main {
        height: 100%;
        border-radius: 12px;
    }
    #work_banner_sec {
        height: 300px;
    }
    .tabs{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
    }
    .tab,
    .tablinks {
        width: fit-content;
        white-space: nowrap;
    }
    .porfolio_sec_main .title button {
        font-size: 14px;
    }
    .portfolio_card .card {
        width: 30%;
    }
    .portfolio_card .card p {
        height: 65%;
    }
    .bottom_footer{
        flex-direction: column;
    }
    .contactUs {
        margin-left: 0px;
    }
    .footer_menu {
        margin: 0px auto 0px 20px;
    }
    .privacyPolicy {
        width: 70%;
    }
    
    
    
}

@media (max-width: 950px){
    .carousel_sec_detail p {
        margin-top: 7px;
    }
    .team_sec_detail h1 {
        margin-bottom: 7px;
    }
    .portfolio_card .card h1 {
        margin-bottom: 2px;
    }
    .tab_content_main .details2 .checkUI {
        align-items: flex-start;
    }
    .tab_content_main .details2 .checkUI p {
        margin: 0px 0px 22px 22px;
        
    }
    .banner_text_area h1, .services_main .title h1, .carousel_sec_detail h1, .team_sec_detail h1, .work_sec_main .title h1, .achivement_sec_main .details h1, .porfolio_sec_main .title h1, .banner3_sec_main .details h1,
    .portfolio_card .card h1 {
        font-size: 24px;
        line-height: 35px;
    }
    
    header {
        height: 80px;
    }
    .navbar {
        height: 78px;
    }
        
    .banner_main {
        flex-direction: column;
    }
    .banner_text_area {
        width: 100%;
        margin: 0px auto;
    }
    .banner_img {
        width: 100%;
        margin-top: 30px;
    }
    .banner_input {
        width: 100%;
        padding: 0px 3vw;
    }
    .reviews {
        margin-top: 60px;
    }
    .services_main .title {
        width: 65%;
    }
    .services_details_main {
        margin: 50px auto 0px auto;
    }
    .tabs {
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
    .tab {
        padding: 10px 14px;
    }
    .tab_content_main {
        flex-direction: column;
    }
    .tab_content_main .details {
        width: 98%;
        margin: 31px auto 0px auto;
    }
    .tab_content_main .tab_img {
        width: 100%;
    }
    .tab_content_main .details2 {
        width: 98%;
        margin-top: 20px;
    }
    .achivement_number .box p {
        line-height: 18px;
        font-size: 14px;
    }
    .banner3_sec_main {
        padding: 60px 20px 60px 20px;
    }
    .privacyPolicy {
        width: 80%;
    }
    .bottom_footer_mian::before {
        margin: 40px auto 30px auto;
    }
    .menu_columns {
        width: 100%;
    }
    .footer_menu {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        margin: 0px auto 0px auto;
    }
}
@media (max-width: 720px){
    .tab_content_main .details2 .checkUI {
        align-items: flex-start;
    }
    .tab_content_main .details2 .checkUI p {
        margin: 0px 0px 22px 22px;
        
    }
    .achivement_number .box h1 span,
    .achivement_number .box h1 {
        font-size: 60px;
    }
    .services_details h1{
        margin: 0px;
    }
    .services_details p{
        margin-top: 0px;
    }
    header {
        height: 65px;
    }
    .navbar {
        height: 60px;
    }
    .services_main .title p {
        margin: 0px 0px -10px auto;
    }
    .banner_text_area h1, .services_main .title h1, .carousel_sec_detail h1, .team_sec_detail h1, .work_sec_main .title h1, .achivement_sec_main .details h1, .porfolio_sec_main .title h1, .banner3_sec_main .details h1, .portfolio_card .card h1 {
        font-size: 22px;
        line-height: 35px;
    }
    .services_details {
        width: 100%;
        margin-bottom: 0px;
    }
    .services_details_main {
        flex-direction: column;
    }
    .carousel_sec_main {
        flex-direction: column;
    }
    .carousel_sec_detail {
        width: 100%;
    }
    #team_sec {
        width: 100%;
        padding: 0px 0px 60px 0px;
    }
    .team_sec_main {
        flex-direction: column;
    }
    .team_sec_img {
        width: 100%;
    }
    .team_sec_detail {
        width: 100%;
    }
    .work_banner_sec_main {
        justify-content: center;
        align-items: center;
    }
    #work_banner_sec {
        height: 250px;
    }
    .tabs {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        width: min-content;
    }
    .tab_content_main .tab_img {
        width: 100%;
        margin-top: 40px;
    }
    .achivement_sec_main .details {
        width: 73%;
        margin: 0px auto;
    }
    .achivement_number {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    .achivement_number .box {
        width: 100%;
    }
    .portfolio_card .card {
        width: 100%;
        margin-bottom: 40px;
    }
    .portfolio_card {
        flex-direction: column;
    }
    .banner3_sec_main .details p {
        margin: 0px 0px 18px 0px;
    }
    .banner3_sec_main .details button {
        padding: 8px 18px 8px 30px;
    }
    .dropdown-content a{
        font-size: 14px;
    }
    .dropdown-content {
        position: relative;
        width: 100%;
        box-shadow: none;
        background-color: #050038;
        width: fit-content;
        padding: 2px 20px 2px 20px;
        margin: 0px auto;
    }
    .menu_columns:nth-child(5){
        width: 110%;
    }
}
@media (max-width: 599px){
    .owl-item img {
        display: block;
        width: 60% !important;
        margin: 0px auto;
    }
    .privacyPolicy {
        width: 100%;
    }
}
@media (max-width: 569px){
    .services_main .title {
        width: 80%;
    }
    .reviews {
        margin: 35px 0px 40px 0px;
        flex-direction: column;
        height: 115px;
        width: 100%;
        padding: 20px 20px;
    }
    .user_reviews {
        align-items: center;
    }
    .app_Info {
        width: 98%;
    }
    .footer_menu {
        grid-template-columns: repeat(2, 1fr);
    }
    .privacyPolicy {
        width: 80%;
        margin: 30px auto;
        flex-direction: column;
        margin: 40px auto;
    }
    .change-language2{
        margin-bottom: 10px;
    }
    .copywrite p,
    .privacyPolicy a {
        margin: 8px auto;
    }
    #work_banner_sec {
        padding: 30px 0px 60px 0px;
    }
    .tabs {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        width: min-content;
    }
    
}
@media (max-width: 424px){
    .achivement_number .box h1 span,
    .achivement_number .box h1 {
        font-size: 50px;
    }
    .owl-item img {
        display: block;
        width: 75% !important;
        margin: 0px auto;
    }
    .banner_text_area h1, .services_main .title h1, .carousel_sec_detail h1, .team_sec_detail h1, .work_sec_main .title h1, .achivement_sec_main .details h1, .porfolio_sec_main .title h1, .banner3_sec_main .details h1, .portfolio_card .card h1 {
        font-size: 23px;
        line-height: 35px;
    }
    .logo_carousel {
        width: 94%;
    }
        .services_details_main, .carousel_sec_main, .work_banner_sec_main, .work_sec_main {
        width: 94%;
    }
    .navbar {
        padding: 0px 13px;
    }
    .banner_main {
        margin: 40px auto 0px auto;
    }
    .banner_text_area h1, .services_main .title h1, .carousel_sec_detail h1, .team_sec_detail h1, .work_sec_main .title h1, .achivement_sec_main .details h1, .porfolio_sec_main .title h1, .banner3_sec_main .details h1, .portfolio_card .card h1 {
        font-size: 22px;
        line-height: 23px;
    }
    .banner_main {
        width: 94%;
    }
    .reviews {
        width: 100%;
    }
    .services_details_main,
    .carousel_sec_main,
    .work_banner_sec_main,
    .work_sec_main,
    .team_sec_main,
    .achivement_sec_main,
    .porfolio_sec_main,
    .banner3_sec_main,
    .footer_menu,
    .bottom_footer  {
        width: 94%;
    }
    .portfolio_card .card {
        width: 100%;
        margin-bottom: 15px;
    }
    
    
    #services_sec {
        width: 100%;
        padding-top: 14px;
    }
    
    .tab_content_main .details2 .checkUI {
        align-items: flex-start;
    }    
    .work_banner_deatails {
        margin-right: 0px;
    }
    .tab_content_main .details2 {
        width: 100%;
    }
    .achivement_sec_main .details {
        width: 100%;
        margin: 0px auto;
    }
    .porfolio_sec_main .title {
        width: 100%;
    }
    #porfolio_sec {
        width: 100%;
        padding: 60px 0px 0px 0px;
    }
    #banner3_sec {
        width: 100%;
        padding: 0px 0px 60px 0px;
    }
    .banner_input {
        width: 100%;
        padding: 0px 3vw;
    }
    #brand_sec{
        padding-top: 0px;
    }
}